<div>
    Search: <input ng-model="$ctrl.query" />
    <p>
        Sort by:
        <select ng-model="$ctrl.orderCountry">
            <option value="custom" disabled selected hidden>Страна</option>
            <option value="ru">Россия</option>
            <option value="us">США</option>
        </select>
        <select ng-model="$ctrl.orderCategory">
            <option value="custom" disabled selected hidden>Категория</option>
            <option value="business">Бизнес</option>
            <option value="entertainment">Развлечения</option>
        </select>
        <button ng-model="$ctrl.btn1" ng-click="$ctrl.clickBtn()">{{"Filter"}}</button>
    </p>
    <ul>
        <li ng-repeat="item in $ctrl.news">
            <h3>{{item.title}}</h3>
            <span>{{item.author}}</span>
            <p>{{item.description}}</p>
            <img ng-src="{{item.urlToImage}}" alt="{{item.title}}"/>
        </li>
    </ul>
</div>